{% extends "base.html" %}
{% block title %}Mansion{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h2>The Mansion</h2>
                    <h4>Select Section</h4>
                    <a href="#" class="fa fa-userb fa-2x"><br>Team</a>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}